---
// Import layouts
import Layout from "@layouts/Page.astro";

// All images
import externalLinkImg from "@assets/img/symbols/external-link.svg";

// Import data
import getDevices from "@logic/build/getDevices.js";
const devices = await getDevices("get-all-devices");

const pageMeta = {
  title: "Device codenames • Ubuntu Touch • Linux Phone",
  meta: [
    {
      name: "keywords",
      content:
        "Ubuntu Touch, mobile, Linux, Android, privacy, smartphone, codename"
    },
    {
      name: "description",
      content:
        "Explore devices compatible with Ubuntu Touch. Device codenames are used in development and testing instead of the commercial name. Check this list to know which device we are talking about."
    },
    {
      property: "og:url",
      content: "https://devices.ubuntu-touch.io"
    },
    {
      property: "og:title",
      content: "Device codenames • Ubuntu Touch • Linux Phone"
    },
    {
      property: "og:description",
      content:
        "Explore devices compatible with Ubuntu Touch. Device codenames are used in development and testing instead of the commercial name. Check this list to know which device we are talking about."
    }
  ]
};
---

<Layout pageMeta={pageMeta}>
  <!-- Content -->
  <div class="wide-content">
    <h1 class="mt-5 light mb-1">Device codenames</h1>
    <p class="mb-4">
      Android device codenames are the unique development project name that OEMs
      use while the device is in the development state. All Android devices have
      a codename. You must have seen them listed in some custom ROM, TWRP
      recovery, and CF-Auto-Root archives. We use device codenames for testing
      and development purposes.
    </p>

    <div class="device-codenames">
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            {
              devices
                .sort((a, b) => a.codename.localeCompare(b.codename))
                .map((device) => (
                  <tr>
                    <td>{device.codename}</td>
                    <td>
                      {device.name ||
                        devices.find((d) => d.codename == device.variantOf)
                          .name}
                    </td>
                    <td class="d-print-none">
                      <a href={device.path}>
                        <img
                          src={externalLinkImg}
                          class="dark-invert-40 m-1"
                          alt="device-link-icon"
                        />
                      </a>
                    </td>
                  </tr>
                ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</Layout>
