---
const {
  deviceName,
  developerReport,
  invalidPropCount,
  communityLinks,
  forumTopics,
  subforumLink
} = Astro.props;
---

<div sidebarjs="discussionSidebar" class="d-none">
  {
    !!forumTopics.length && (
      <>
        <h2 class="mt-3 h5 bold mt-5 me-5">
          The {deviceName}
          <br />
          <span class="text-orange light italic">Subforum</span>
        </h2>
        <a
          class="btn btn-small btn-primary"
          href="https://forums.ubports.com/login"
        >
          Post to UBports forum
        </a>

        <h2 class="small mt-5">
          <a class="d-inline" href={subforumLink} target="_blank">
            {forumTopics.length} Forum Discussions
          </a>
        </h2>
        <div class="forum-snippet">
          <ul>
            {forumTopics.slice(0, 8).map((topic) => (
              <li>
                <h3
                  class={
                    (topic.locked != 0 ? "locked " : "") +
                    (topic.pinned != 0 ? "pinned" : "")
                  }
                >
                  <a href={topic.link}>
                    {topic.title.split(" ").length > 10
                      ? topic.title.split(" ").splice(0, 10).join(" ") + " ..."
                      : topic.title}
                  </a>
                </h3>
                <p>
                  <span class="small">
                    {new Date(topic.timestamp).toLocaleDateString("en-US")}
                  </span>
                  •
                  <span class="small">
                    {new Date(topic.timestamp).toLocaleTimeString("en-US")}
                  </span>
                  • <span class="small">{topic.user}</span> •
                  <span class="small">{topic.views} views</span>
                </p>
              </li>
            ))}
          </ul>
        </div>
      </>
    )
  }

  {
    !!communityLinks && (
      <>
        <h2 class="mt-3 h5 bold mt-5 me-5">
          The {deviceName}
          <br />
          <span class="text-orange light italic">Community Chat</span>
        </h2>

        <div class="discussions">
          <h3 class="title">Get help</h3>
          <ul>
            {communityLinks.map((link) => (
              <li>
                <a href={link.link}>
                  <img
                    src={link.icon}
                    alt="link-icon"
                    class="dark-invert-40 ext-link-icon"
                  />
                  {link.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      </>
    )
  }

  {
    invalidPropCount > 0 && (
      <div class="improve">
        <p class="mt-5">
          <a href={developerReport}>
            Help to improve this page. ({invalidPropCount} missing items)
          </a>
        </p>
      </div>
    )
  }
</div>

<script>
  import { componentScriptLoader } from "@logic/client/clientNavigation.js";
  import { SidebarElement, SidebarService } from "sidebarjs";

  componentScriptLoader('[sidebarjs="discussionSidebar"]', () => {
    const discussionSidebarComponent = document.querySelector(
      '[sidebarjs="discussionSidebar"]'
    );
    discussionSidebarComponent.classList.remove("d-none");

    var discussionSidebar = new SidebarElement({
      onOpen: function () {
        _paq.push([
          "trackEvent",
          "Sidebar",
          "Discussions bar",
          window.location.pathname
        ]);
      },
      component: discussionSidebarComponent,
      position: "right",
      nativeSwipeOpen: false
    });

    document.addEventListener(
      "sidebarShow:discussion",
      (e) => {
        discussionSidebar.open();
      },
      false
    );
  });
</script>
