---
const { releaseChannels, release } = Astro.props;
---

<!-- Release channels -->
<div id="releaseChannels">
  <h2 class="h3 mt-5">Release channels</h2>
  <p class="mb-3">
    This device gets updates through these channels,
    <a
      class="underline"
      href="https://docs.ubports.com/en/latest/about/process/release-schedule.html"
      >learn more</a
    >
    about OTA updates
  </p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ubuntu Release</th>
          <th>Channel</th>
          <th>Version</th>
          <th>Release Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          releaseChannels
            .filter((c) => c.ubuntuRelease.toLowerCase() == release)
            .map((channel) => (
              <tr>
                <td>{channel.ubuntuRelease}</td>
                <td>{channel.channel}</td>
                <td>{channel.version}</td>
                <td>{channel.releaseDate.toLocaleDateString()}</td>
                <td>{channel.description}</td>
              </tr>
            ))
        }
      </tbody>
    </table>
  </div>
</div>
