---
import "@assets/scss/main.scss";

import HeaderContainer from "@components/layout/HeaderContainer.astro";
import FooterContainer from "@components/layout/FooterContainer.astro";

const { pageMeta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {pageMeta.meta && pageMeta.meta.map((metaObj) => <meta {...metaObj} />)}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" sizes="any" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{pageMeta.title}</title>
  </head>
  <body>
    <div id="app-backdrop">
      <HeaderContainer />

      <!-- Ports -->
      <div class="ports">
        <div class="container">
          <slot />
        </div>
      </div>

      <FooterContainer />
    </div>
    <script>
      import {
        navigate,
        initNavigation,
        componentScriptLoader
      } from "@logic/client/clientNavigation.js";
      import {
        startTracking,
        spaNavigationTrack
      } from "@logic/client/mtm-loader.js";
      import slugify from "@sindresorhus/slugify";

      let correctedPageSlug = window.location.pathname
        .split("/")
        .map((folder) => slugify(folder, { decamelize: false }))
        .join("/");
      if (correctedPageSlug != window.location.pathname)
        window.location.replace(correctedPageSlug);

      window.navigate = navigate;
      initNavigation(["main", ".ports", "body"]);

      componentScriptLoader("body", () => {
        document.getElementById("app-backdrop").onclick = (e) => {
          let headerNav = document.getElementById("headerNav");
          if (!e.target.closest(".header") && headerNav) {
            headerNav.classList.remove("show");
            document
              .getElementById("app-backdrop")
              .classList.remove("backdrop");
          }
        };
      });

      startTracking("https://analytics.ubports.com/", "3");
      window.addEventListener("spa:navigation", spaNavigationTrack);
      window.addEventListener("spa:navigation", () => {
        if (!!window.location.hash)
          document.querySelector(window.location.hash)?.scrollIntoView(true);
        else window.scrollTo(0, 0);
      });
    </script>
  </body>
</html>
